<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />

    <title>Abaya Boutique | Deliveries</title>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Bootstrap Core Css -->
    <link href="/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />

    <!-- Waves Effect Css -->
    <link href="/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="/css/style.css" rel="stylesheet" />

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="/css/themes/all-themes.css" rel="stylesheet" />
  </head>

  <body class="theme-red">
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Top Bar -->
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a
            href="javascript:void(0);"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          ></a>
          <a href="javascript:void(0);" class="bars"></a>
          <a class="navbar-brand" href="/">ABAYA BOUTIQUE</a>
        </div>
      </div>
    </nav>

    <section>
      <!-- Left Sidebar -->
      <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
          <div class="image">
            <img src="images/user.png" width="48" height="48" alt="User" />
          </div>
          <div class="info-container">
            <div
              class="name"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <%= user.name %>
            </div>
            <div class="email"><%= user.email %></div>
          </div>
        </div>

        <!-- Menu -->
        <div class="menu">
          <ul class="list">
            <li class="header">MENU</li>
            <li class="active">
              <a href="/delivery-home">
                <i class="material-icons">home</i>
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href="/logout">
                <i class="material-icons">input</i>
                <span>Log out</span>
              </a>
            </li>
          </ul>
        </div>

        <!-- Footer -->
        <div class="legal">
          <div class="copyright">
            &copy; 2019 <a href="javascript:void(0);">ABAYA BOUTIQUE</a>.
          </div>
          <div class="version"><b>Version: </b> 1.0.0</div>
        </div>
      </aside>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="block-header">
          <h2>LIST OF DELIVERIES</h2>
        </div>
        <!-- Basic Table -->
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="body table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>CUSTOMER NAME</th>
                      <th>CUSTOMER PHONE</th>
                      <th>ABAYA NAME</th>
                      <th>COUNT</th>
                      <th>IS PAID</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(typeof deliveries != 'undefined' && deliveries.length
                    > 0) { %> <% deliveries.forEach(delivery => { %>
                    <tr>
                      <td><%= delivery.customer_name %></td>
                      <td><%= delivery.customer_phone %></td>
                      <td><%= delivery.abaya_name %></td>
                      <td><%= delivery.count %></td>
                      <td><%= delivery.is_paid %></td>
                    </tr>
                    <% }); %> <% } else { %>
                    <tr>
                      <td colspan="5" class="text-center">No Data Available</td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/plugins/node-waves/waves.js"></script>

    <!-- Custom Js -->
    <script src="/js/admin.js"></script>

    <!-- Demo Js -->
    <script src="/js/demo.js"></script>
  </body>
</html>
